:root {
  --text: #839496;
  --black: #839496;
  --accent0: #b58900;
  --accent1: #cb4b16;
  --accent2: #268bd2;    
  --accent3: #2aa198;
  --bckgrnd: #fdf6e3;
  --holder: #eee8d5;
  --solar: #268bd2;
  --time: #2aa198;
  --file: #cb4b16;
  --mode: #b58900;
  
}


body {
font-family: courier, monospace;

    background-color: var(--bckgrnd);
	
      }

.holder{
  margin: 4em auto auto auto;
  padding: 2em 1em 1em 1em;
  background: var(--holder);
  /*box-shadow: 0 4px 0.625em 0 rgba(0,0,0,0.4); */
  max-width: 40em;
  min-width: 25em;  
}

.linkbox {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.linkchild {
  color: var(--text);
  transition: ease-in-out 0.05s;
  text-align: center;
  font-size: 0.8em;
  margin: 0.3em;
}

.accent0:hover {
  background-color: var(--accent0);
  color: var(--bckgrnd);  
}

.accent1:hover {
  background-color: var(--accent1);
  color: var(--bckgrnd);    
}

.accent2:hover {
  background-color: var(--accent2);
  color: var(--bckgrnd);  
  
}

.accent3:hover {
  background-color: var(--accent3);
  color: var(--bckgrnd);  
  
}

a {
  text-decoration: none;
  color: inherit;
  padding: 1em 1.5em 1em 1.5em;
  line-height: 3em;
}

.linkcats {
  color: var(--text);
  padding: 0.375em 0 0.375em 0.375em;
  font-size: 0.875em;
  font-weight: normal;
  margin: 0;
}

.statusbar {
  display: flex;
white-space: nowrap;
  width: 100%;
  background-color: var(--bckgrnd);
  font-size: 0.8em;
padding: 0;
margin: 0;
}

.statusbox {
  text-align: center;
  padding: 0 1em 0 1em;
  color: var(--bckgrnd);
}

.mode {
  background-color: var(--mode);
  padding: 0 0.5em 0 0.5em;
}

.file {
  background-color: var(--file);
}

.search {
  border: none;
  font:inherit;
  margin:0;
  text-align: left;
  background-color: inherit;
flex-grow: 1;
flex-shrink: 1;
  min-width: 2px;  
  color: var(--text);
}

.search:focus {
  outline: none;
}

.time {
  background-color: var(--time);
}

.solar {
  background-color: var(--solar);
}
