:root {
  --white: #fff;
  --black: #051519;
  --accent: #ff5b5b;
  --accent2: #92d3a2;
  --bckgrnd: bisque;
  --solar: #00a896;
  --time: #028090;
}


html {
    font-family: 'Roboto Slab', monospace;
    background-color: var(--bckgrnd);
}


body {
      }

.holder{
  margin: 4em auto auto auto;
  padding: 2em 1em 1em 1em;
  background: var(--black);
  /*box-shadow: 0 4px 0.625em 0 rgba(0,0,0,0.4); */
  max-width: 40em;
  min-width: 25em;  
}

.linkbox {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.linkchild {
  color: var(--white);
  transition: ease-in-out 0.05s;
  text-align: center;
  font-size: 0.8em;
  margin: 0.3em;
}

.accent1:hover {
  background-color: var(--accent);
}

.accent2:hover {
  background-color: var(--accent2);
}


a {
  text-decoration: none;
  color: inherit;
  padding: 1em 1.5em 1em 1.5em;
  line-height: 3em;
}

p.linkcats {
  color: var(--white);
  padding: 0.375em 0 0.375em 0.375em;
  font-size: 0.875em;
  font-weight: normal;
  margin: 0;
}

.statusbar {
  display: flex;
white-space: nowrap;
  height: 16px;
  line-height: 16px;
  width: 100%;
  background-color: grey;
  font-size: 0.8em;
padding: 0;
margin: 0;}

.statusbox {
  text-align: center;
  padding: 0 1em 0 1em;
  color: var(--white);
}

.mode {
  background-color: var(--white);
  color: black;
  padding: 0 0.5em 0 0.5em;
}

.file {
  background-color: #ff875f;
}

.search {
  border: none;
  font:inherit;
  margin:0;
  text-align: left;
  background-color: inherit;
flex-grow: 1;
flex-shrink: 1;
  min-width: 2px;  

}

.search:focus {
  outline: none;
}

.time {
  background-color: var(--time);
}

.solar {
  background-color: var(--solar);
}
